.container {
	display: flex;
	flex-direction: column;
	height: 100dvh;
	align-items: center;
}

.title {
	text-align: center;
	margin-top: 10rem;
}

.title h1 {
	font-size: clamp(34px, 6vw, 64px);
}

.title p {
	font-size: x-large;
}

.contactContainer {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contactOption {
	width: 15rem;
	height: 15rem;
	margin: 5rem;
	background-color: var(--container-bg);
	display: flex;
	flex-direction: column;
	text-align: center;
	color: var(--text);
	transition: transform 0.3s, box-shadow 0.3s;
	justify-content: center;
	align-items: center;
}

.contactOption:hover {
	transform: scale(1.1);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.contactOption svg {
	width: 10rem;
	height: auto;
  fill: var(--text);
}
