:root {
	--bg: #fff;
	--navbar-bg: #4390bc;

	--container-bg: #b2d3e6;
	--container-hover-bg: #8dbdd8;

	--text: #000;
	--navbar-text: #fff;
	--navbar-text-hover: #dbdbdb;

	--table-bg: #68a7ca;  
	--table-even-bg: #4390bc;
	--table-border: #ddd;
}

* {
	margin: 0;
}

body {
	background-color: var(--bg);
}

h1,
p {
	color: var(--text);
}

a {
	text-decoration: none;
}
