.container {
	text-align: center;
	margin-top: 10rem;
}

.container h1 {
	font-size: clamp(34px, 6vw, 64px);
}

.container p {
	font-size: x-large;
}

.aboutContainer p {
	width: 80vw;
	margin: auto;
}

.faqWrapper {
	margin-top: 10rem;
}

.faqContainer {
	text-align: left;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5vh;
}

.faqContainer > p {
	text-align: center;
}

.faqContainer div {
	display: flex;
}

.accordianWrapper {
	display: flex;
	flex-direction: column;
}

.faqContainer div > strong {
	font-size: 3vh;
}

.info {
	width: 80vw;
}

.faqAccordian {
	justify-content: center;
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: var(--container-bg);
	font-size: 1.5vw;
	cursor: pointer;
	user-select: none;
	text-align: center;
}
.accordianWrapper > p {
	text-align: center;
}

.faqAccordian:hover {
	background-color: var(--container-hover-bg);
}
